
<div class="container mt-5 forms-container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form action="/user/log_in" method="post" class="p-4 bg-light border rounded">
                <h2>Log in</h2>
                <div class="mb-3">
                    <label class="form-label" for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="empId">Employee ID:</label>
                    <input type="number" id="empId" name="empId" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-dark">Login</button>
            </form>
        </div>
    </div>
</div>